* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.text {
    font-size: 1rem;
    font-weight: 700;
}

.navbar {
    display: flex;
    background-color: #0f1111;
    color: white;
    height: 60px;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
    /* position: sticky; */
}

.amazone_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width: 110px;
    margin-left: 6px;
    background-image: url("assets/amazon_logo.png");
    background-size: cover;
   
}

.location {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    height: 50px;
    /* text-align: center; */
    margin-left: 8px;
}

.address {
    padding: 2px 8px;
}

.border {
    border: solid black 1px;
}

.border:hover {
    border: solid white 1px;
}

#addrs1 {
    font-size: 0.85rem;
    margin-left: 1.3rem;
    color: #cccccc;
}

.logo {
    display: flex;
}

.search_box {
    display: flex;
    margin-left: 8px;
    border: solid rgb(255, 166, 0) 2.5px;
    border-radius: 12px;
    height: 40px;
    /* background: ; */
   
}

.search_box select {
    background-color: #E6E6E6;
    border: none;
    height: 40px;
    padding: 2px;
    width: 45px;
    border-radius: 8px 0 0 8px;
}

.search_box select:hover {
    opacity: 0.9;
}

input {
    background-color: #fff;
    color: #0f1111;
    border: none;
    font-size: 1rem;
    height: 38px;
    width: 38rem;
    padding-left: 1rem;
}

.search_logo {
    background-color: rgb(212, 167, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    border-radius:  0 8px 8px 0;
}

.search_logo:hover {
    opacity: 0.9;
}

.language {
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: aqua; */
    height: 50px;
    width: 54px;
    margin-left: 8px;
}

.language select {
    background-color: #0f1111;
    color: #fff;
    height: 50px;
    width: 55px;
    border: none;
    /* margin-left: 7px; */
    /* padding: 4px; */
    border: solid #0f1111 1px;
}

.account p {
    font-size: 0.85rem;
    color: #cccccc;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    /* padding: 4px; */
    height: 50px;
}

.account select {
    border: none;
    background-color: #0f1111;
    color: #fff;
}

.acc_box {
    padding: 2px 8px;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-left: 8px;
}

.order_box p {
    font-size: 0.85rem;
    color: #cccccc;
}

.order_box {
    padding: 2px 8px;
}

.cart_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 8px 0 8px;
    font-size: 2rem;
    margin-left: 8px;
}

/* During hover cursor indicate to pointer  */

.pointer {
    cursor: none;
}

.pointer:hover {
    cursor: pointer;
}

/* panel */

.panel {
    display: flex;
    background-color: rgb(18, 60, 60);
    height: 40px;

}

.all {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 1rem;
    font-size: 0.8rem;
    padding: 0 4px 0 4px;
}

.all:hover {
    border: solid white 1px;
    font-size: 0.79rem;
    cursor: pointer;
}

.resources {
    display: flex;
    align-items: center;
}

.resources a {
    /* background-color: aqua; */
    /* border: solid white 1px; */
    color: white;
    margin-left: 1rem;
    font-size: 0.8rem;
    padding: 10px 4px 10px 4px;
    
}

.resources select {
    background-color: rgb(18, 60, 60);
    color: white;
    border: none;
}

.resources a:hover {
    border: solid white 1px;
    font-size: 0.79rem;
    cursor: pointer;
}


/* Design for Body  */


.wall {
    background-image: url("assets/back_wallpaper.jpg");
    background-size: cover;
    height: 300px;
    /* width:96%; */
    margin-left: 20px;
    margin-right: 20px;
}

.container1 {
    display: flex;
    background-color: rgba(45, 57, 57, 0.207);
    height: 470px;
    margin: 0 20px;
}

.container1 .card {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 320px;
    margin: 16px 0;
    margin-left: 16px;
    padding: 20px 16px;
    font-size: 21px;
    font-weight: 600;
}

.container1 .card4 {
    margin-right: 16px;
}

/* .Appliances {
    

} */

.box {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(176, 122, 196); */
    height: 160px;
    /* margin-top: 10px; */
    align-items: center;
}
/* 
.box1 .product {
    background-color: aquamarine;
    height:70px;
    width: 70px;
} */


.box div {
    background-color: tomato;
    height: 92px;
    width: 146px;
    margin-top: 10px;
}
  

/* Product names  */

.box p {
    font-size: 0.8rem;
    margin-top: 98px;
    text-align: center;
    padding: 2px;
    font-weight: 500;
}


.card .product1 {
    background-image: url("assets/Air\ conditioner.jpg");
    background-size: cover;
}

.card .product2 {
    background-image: url("assets/Microwave.jpg");
    background-size: cover;
}

.card .product3 {
    background-image: url("assets/Referigirator.jpg");
    background-size: cover;
}

.card .product4 {
    background-image: url("assets/Washing\ machine.jpg");
    background-size: cover;
}




.card2 .product1 {
    background-image: url("assets/bedsheet.jpg");
    background-size: cover;
}

.card2 .product2 {
    background-image: url("assets/curtains.jpg");
    background-size: cover;
}

.card2 .product3 {
    background-image: url("assets/home_decor.jpg");
    background-size: cover;
}

.card2 .product4 {
    background-image: url("assets/ironing_board.jpg");
    background-size: cover;
}






.card3 .product1 {
    background-image: url("assets/OfficeChairs.jpg");
    background-size: cover;
}

.card3 .product2 {
    background-image: url("assets/Laptops.jpg");
    background-size: cover;
}

.card3 .product3 {
    background-image: url("assets/KitchenAppliances.jpg");
    background-size: cover;
}

.card3 .product4 {
    background-image: url("assets/ABdelivery.jpg");
    background-size: cover;
}

.items {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    height: 230px;
    margin-left: 16px;
    margin-right: 16px;
}

.items div {
    background-color: #af4646b7;
    height: 200px;
    width: 190px;
    margin: 14px 0 14px 0;
}

/* Container2 */

.container2 {
    background-color: rgba(45, 57, 57, 0.207);
    height: 490px;
    margin-left: 20px;
    margin-right: 20px;
}


.pic1 {
    background-image: url("assets/pic1.jpg");
    background-size: cover;
}

.pic2 {
    background-image: url("assets/pic2.jpg");
    background-size: cover;
}


.pic3 {
    background-image: url("assets/pic3.jpg");
    background-size: cover;
}

.pic4 {
    background-image: url("assets/pic4.jpg");
    background-size: cover;
}

.pic5 {
    background-image: url("assets/pic5.jpg");
    background-size: cover;
}

.pic6 {
    background-image: url("assets/pic6.jpg");
    background-size: cover;
}

.pic7 {
    background-image: url("assets/pic7.jpg");
    background-size: cover;
}


.image {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 230px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}


.image div {
    background-color: rgb(0, 186, 124);
    height: 200px;
    width: 200px;
    margin-top: 16px;
    margin-left: 16px;
}

.pics1 {
    background-image: url("assets/img1.jpg");
    background-size: cover;
    /* margin-left: 16px; */
}

.pics2 {
    background-image: url("assets/img2.jpg");
    background-size: cover;
}

.pics3 {
    background-image: url("assets/img3.jpg");
    background-size: cover;
}

.pics4 {
    background-image: url("assets/img4.jpg");
    background-size: cover;
}


.pics5 {
    background-image: url("assets/img5.jpg");
    background-size: cover;
}

.pics6 {
    background-image: url("assets/img6.jpg");
    background-size: cover;
}

.pics7 {
    background-image: url("assets/img7.jpg");
    background-size: cover;
    margin-right: 16px;
}

